<nav class ="topbar">       
    <a routerLink="/adminPage/viewElection" routerLinkActive="active"  >View Election</a>
    <a routerLink="/adminPage/newElection" routerLinkActive="active"  >New Election</a>
    <a routerLink="/adminPage/viewResult" routerLinkActive="active"  >View result</a>
    <a routerLink="/adminPage/freezing" routerLinkActive="active"  >Freeze Election</a>
    <a routerLink="/adminPage/end" routerLinkActive="active"  >End Election</a>
    <a routerLink="/adminPage/adminLogout" routerLinkActive="active"  >Logouts</a>
</nav>
<router-outlet></router-outlet>