
  div {
    margin: auto;
    width: 70%;
   
    padding: 10px;
  }
  form{
    
        width: 50%;
        border: 25px solid burlywood;
        padding: 10px;
        margin: auto;
        height: 400px;
  }