<div class="container">
  <form [formGroup] ="titleForm" autocomplete="off" (ngSubmit)="onSubmit()">

    <label class="form-label" ><b>Election title</b></label>
    <select formControlName="ElectionName">
        <option [ngValue]="null" disabled>Select Election Title</option>
        <option *ngFor="let title of titles" [ngValue]="title">{{title}}</option>
      </select>
     
    
    <br>
    <button type="submit" [disabled]="titleForm.invalid" class="btn btn-primary btn-block">Done</button>
  </form>

<form [formGroup] ="voteForm" autocomplete="off" (ngSubmit)="addVote()">
  <div class="form-group">
    <table>
      <tr>
        <th>Candidate's Name</th>
        <th>Candidate's Symbol</th>
        <th>Vote</th>
      </tr>
      <tr *ngFor="let candidateInfo of candidates2">
        <td>{{candidateInfo.name}}</td>
        <td>{{candidateInfo.symbol}}</td>
          <select formControlName="name" formControlName="symbol" formControlName="id" id="b" >
            <option   [value]="candidateInfo.name"[value]="candidateInfo.symbol"[value]="candidateInfo.id">Vote</option>
          </select>
      </tr>
    </table>
  </div>  
  <div class="center">
    <button type="submit" class="btn btn-primary btn-block">Done</button>
  </div>
</form>
<router-outlet></router-outlet>
</div>
